html
  head
    title= title
  body
    h1= message
    img(src="https://source.unsplash.com/200x200/?", alt="")
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, et!
    small Hello How Are You 
    br
    strong Hello How Are You 
    p Lorem ipsum dolor sit amet.
    //- form(action="text")
    //- label(for="text")Name 
    //- input(type="text")
